<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HP.ImageAssistant.ImagePal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HP.ImageAssistant.ImagePal.Properties.Settings>
            <setting name="AllowHPDotComAsTarget" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalyticsUrl" serializeAs="String">
                <value>https://hpia.hpcloud.hp.com/connecttest.txt</value>
            </setting>
            <setting name="AWSBucket2" serializeAs="String">
                <value>hp-hp-image-assistant-pro</value>
            </setting>
            <setting name="ConnectionTestUrl1" serializeAs="String">
                <value>https://hpia.hpcloud.hp.com/connecttest.txt</value>
            </setting>
            <setting name="ConnectionTestUrl2" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionTestUrl3" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionTestUrl4" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value>C:/CCRCE/Logs</value>
            </setting>
            <setting name="DownloadFolderAppendProductName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DownloadPass" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadURL" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ForceAWSAPI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceUpdateAvailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HPSign" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HTTPURL2" serializeAs="String">
                <value>https://hpia.hpcloud.hp.com/</value>
            </setting>
            <setting name="Instance" serializeAs="String">
                <value />
            </setting>
            <setting name="Lang" serializeAs="String">
                <value />
            </setting>
            <setting name="Log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LogonType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManageUpdate" serializeAs="Xml">
                <value>
                    <ManageUpdateSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <IsColMD5Visible>false</IsColMD5Visible>
                        <IsColInstallCmdVisible>false</IsColInstallCmdVisible>
                        <IsColProductVisible>true</IsColProductVisible>
                        <IsColSystemIDVisible>false</IsColSystemIDVisible>
                        <IsColDownloadedVisible>true</IsColDownloadedVisible>
                        <IsColCategoryVisible>true</IsColCategoryVisible>
                        <IsColVersionVisible>true</IsColVersionVisible>
                        <IsColVendorVisible>true</IsColVendorVisible>
                        <IsColReleaseTypeVisible>true</IsColReleaseTypeVisible>
                        <ColSizeVisibility>true</ColSizeVisibility>
                        <IsColReleaseDateVisible>true</IsColReleaseDateVisible>
                        <IsColSupportedOSVisible>true</IsColSupportedOSVisible>
                        <IsColInstallationNotesVisible>true</IsColInstallationNotesVisible>
                        <IsColDescriptionVisible>true</IsColDescriptionVisible>
                        <IsRowAdvisoriesVisible>true</IsRowAdvisoriesVisible>
                        <IsRowPrerequisitesVisible>true</IsRowPrerequisitesVisible>
                    </ManageUpdateSettings>
                </value>
            </setting>
            <setting name="MaxDownloadNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MyProductsList" serializeAs="Xml">
                <value>
                    <ArrayOfProductInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="OfflineCDSRelativePath" serializeAs="String">
                <value>.repository\cache\offline\</value>
            </setting>
            <setting name="OfflineKBRelativePath" serializeAs="String">
                <value>.repository\cache\offline\kb\</value>
            </setting>
            <setting name="OfflinePlatformListRelativePath" serializeAs="String">
                <value>.repository\cache\offline\</value>
            </setting>
            <setting name="OfflineReferenceRelativePath" serializeAs="String">
                <value>.repository\cache\</value>
            </setting>
            <setting name="ProxyDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyOption" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxyURL" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ResultFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SkipBIOSSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartInSoftPaqView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnpackFolder" serializeAs="String">
                <value>C:\HPIADownloads</value>
            </setting>
            <setting name="UnpackOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseAWS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLocalKB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseLocalRef" serializeAs="String">
                <value>False</value>
            </setting>
        </HP.ImageAssistant.ImagePal.Properties.Settings>
    </userSettings>
</configuration>